@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --background-color: #233142;
  --sidebar-background-color: #1c2835;
  --text-strong-color: #f2f5f8;
  --text-normal-color: #e5eaf0;
  --text-weak-color: #a4b6cc;
  --primary-color: #f95959;
  --primary-light-color: #fa6b6b;
  --secondary-color: #facf5a;
  --background-strong-color: #233142;
  --background-lighter-color: #313f4f;
  --background-light-color: #273546;
  --white-color: #f2f5f8;
  --scrollbar-color: #2d3b4d;
}

$table-color: var(--text-weak-color);
$table-background-color: transparent;
$text: var(--text-normal-color);
$title-color: var(--text-strong-color);
$table-head-cell-border-width: 0;
$table-head-cell-color: var(--text-weak-color);

$menu-item-radius: 0;
$menu-item-hover-background-color: var(--background-light-color);
$menu-item-hover-color: var(--text-normal-color);
$menu-item-active-color: var(--background-strong-color);
$menu-item-active-background-color: var(--text-normal-color);

$label-color: var(--text-normal-color);
$label-weight: 400;

$button-background-color: var(--text-strong-color);
$button-color: var(--background-color);
$button-hover-color: var(--background-color);

.button {
  box-shadow: none !important;
  border: 0 !important;
  &:hover {
    background-color: var(--text-normal-color);
  }
  &.is-primary {
    background-color: var(--primary-color) !important;
  }
}

@import "../../../node_modules/bulma/bulma.sass";

@import "../../../node_modules/animate.css/animate.min.css";

html {
  overflow-y: hidden;
}

* {
  transition: color 0.15s linear, background 0.15s linear;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--text-normal-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  color: var(--text-normal-color);
}

.section {
  padding: 20px 30px;
}

.box {
  background-color: var(--background-light-color);
  box-shadow: none !important;
  padding: 0;
  border-radius: 0;
}
